.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.5);
	display: grid;
	place-items: center;
	z-index: 1;
}
.content {
	width: clamp(280px, 90vw, 680px);
	/* height: 400px; */
	background-color: #fff;
	border-radius: 16px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin: 48px 0;
}
.button-wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.submit-button {
	width: calc(50% - 8px); /* 16px is half the gap between the grid items */
	height: 56px;
	grid-column: span 2;
	align-self: flex-end;
	border-radius: 8px;
	background-color: var(--gray-dark);
	font-size: 20px;
	color: #fff;
	transition: background-color 0.3s ease-out;
}
.submit-button:hover {
	background-color: var(--gray-darker);
}
