@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
:root {
	--header-height: 150px;
	--gray-dark: #878787;
	--gray-darker: #535353;
	--red-remove: 255, 69, 69; /* like this so I can use it in rgba */
}
button {
	border: none;
	cursor: pointer;
}
/* form related */
.form-group {
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 8px;
}
.form-group > input,
.form-group > select {
	height: 56px;
	background-color: rgba(196, 196, 196, 0.25);
	border: none;
	border-radius: 8px;
	padding: 0 16px;
	font-size: 16px;
}
.form-group.invalid > input,
.form-group.invalid > select {
	outline: 2px solid rgb(var(--red-remove));
}
.form-group.invalid > label,
.form-group.invalid > span {
	color: rgb(var(--red-remove));
}
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("/assets/dropdown.svg") no-repeat calc(100% - 16px) center;
}
